In [3]:
import os
import requests
import bs4
import pandas as pd

In [4]:
os.chdir("/Users/kausshik/HON322M")

In [17]:
#df = 'https://www.boxofficemojo.com/year/2023/?ref_=bo_yl_table_2'
df = 'https://www.boxofficemojo.com/year/2022/?ref_=bo_yl_table_2'

page = requests.get(df)

bs_obj = bs4.BeautifulSoup(page.content, 'html.parser')

movie = bs_obj.find_all("tr")

In [18]:
movie[1].find("a", {"class": "a-link-normal"}).text

'Top Gun: Maverick'

In [19]:
movie[1].find_all("a", {"class": "a-link-normal"})

[<a class="a-link-normal" href="/release/rl2500036097/?ref_=bo_yld_table_1">Top Gun: Maverick</a>,
 <a class="a-link-normal" href="https://pro.imdb.com/company/co0023400/boxoffice/?view=releases&amp;ref_=mojo_yld_table_1&amp;rf=mojo_yld_table_1" rel="noopener" target="_blank">Paramount Pictures<svg class="mojo-new-window-svg" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
 <path d="M24,15.57251l3,3V23.5A3.50424,3.50424,0,0,1,23.5,27H8.5A3.50424,3.50424,0,0,1,5,23.5V8.5A3.50424,3.50424,0,0,1,8.5,5h4.92755l3,3H8.5a.50641.50641,0,0,0-.5.5v15a.50641.50641,0,0,0,.5.5h15a.50641.50641,0,0,0,.5-.5ZM19.81952,8.56372,12.8844,17.75a.49989.49989,0,0,0,.04547.65479l.66534.66528a.49983.49983,0,0,0,.65479.04553l9.18628-6.93518,2.12579,2.12585a.5.5,0,0,0,.84741-.27526l1.48273-9.35108a.50006.50006,0,0,0-.57214-.57214L17.969,5.59058a.5.5,0,0,0-.27526.84741Z"></path>
 </svg></a>]

In [20]:
movie[1].find_all("a", {"class": "a-link-normal"})[0]

In [21]:
movie[1].find_all("a", {"class": "a-link-normal"})[1]

<a class="a-link-normal" href="https://pro.imdb.com/company/co0023400/boxoffice/?view=releases&amp;ref_=mojo_yld_table_1&amp;rf=mojo_yld_table_1" rel="noopener" target="_blank">Paramount Pictures<svg class="mojo-new-window-svg" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
<path d="M24,15.57251l3,3V23.5A3.50424,3.50424,0,0,1,23.5,27H8.5A3.50424,3.50424,0,0,1,5,23.5V8.5A3.50424,3.50424,0,0,1,8.5,5h4.92755l3,3H8.5a.50641.50641,0,0,0-.5.5v15a.50641.50641,0,0,0,.5.5h15a.50641.50641,0,0,0,.5-.5ZM19.81952,8.56372,12.8844,17.75a.49989.49989,0,0,0,.04547.65479l.66534.66528a.49983.49983,0,0,0,.65479.04553l9.18628-6.93518,2.12579,2.12585a.5.5,0,0,0,.84741-.27526l1.48273-9.35108a.50006.50006,0,0,0-.57214-.57214L17.969,5.59058a.5.5,0,0,0-.27526.84741Z"></path>
</svg></a>

In [23]:
movie[1].find_all("a", {"class": "a-link-normal"})[1].text

'Paramount Pictures\n\n'

In [24]:
movie[1].find_all("a", {"class": "a-link-normal"})[1].text.split("\n\n")

['Paramount Pictures', '']

In [25]:
movie[1].find_all("a", {"class": "a-link-normal"})[1].text.split("\n\n")[0]

'Paramount Pictures'

In [26]:
movie_title = []
movie_gross = []
movie_theaters = []
movie_date = []
movie_distributor = []

In [27]:
for item in movie[1:]:
    title = item.find("a", {"class": "a-link-normal"}).text
    gross = item.find("td", {"class": "a-text-right mojo-field-type-money mojo-estimatable"}).text
    theaters = item.find("td", {"class": "a-text-right mojo-field-type-positive_integer"}).text
    date = item.find("td", {"class": "a-text-left mojo-field-type-date a-nowrap"}).text
    try:
        studio = item.find_all("a", {"class": "a-link-normal"})[1].text.split("\n\n")[0]
    except:
        studio = "NA"
    # we use a try and except here because some of the movies do not have a distributor listed

    movie_title.append(title)
    movie_gross.append(gross)
    movie_theaters.append(theaters)
    movie_date.append(date)
    movie_distributor.append(studio)

iter_df = pd.DataFrame({"Title": movie_title, "Gross": movie_gross, "Theaters": movie_theaters, "Date": movie_date, "Distributor": movie_distributor})
print(iter_df)

                                           Title         Gross Theaters  \
0                              Top Gun: Maverick  $718,318,561    4,751
1                 Black Panther: Wakanda Forever  $436,499,646    4,396
2    Doctor Strange in the Multiverse of Madness  $411,331,607    4,534
3                       Avatar: The Way of Water  $401,007,908    4,340
4                        Jurassic World Dominion  $376,851,080    4,697
..                                           ...           ...      ...
195                                 King Richard      $408,056    3,302
196                                Superspreader      $399,370      235
197                               The Inspection      $385,627      144
198                                        Alice      $372,529      169
199                        Emergency Declaration      $372,123       42

       Date                          Distributor
0    May 27                   Paramount Pictures
1    Nov 11  Walt Disney Studios Motion Pictures
2     May 6  Walt Disney Studios Motion Pictures
3    Dec 16                 20th Century Studios
4    Jun 10                   Universal Pictures
..      ...                                  ...
195  Nov 19                         Warner Bros.
196  Sep 30                                   NA
197  Nov 18                                  A24
198  Mar 18                 Roadside Attractions
199  Aug 12            Well Go USA Entertainment

[200 rows x 5 columns]

In [16]:
iter_df.to_csv("2022_movies.csv", index=False)