In [1]:
import os
import requests
import bs4
import pandas as pd

In [2]:
os.chdir("/Users/kausshik/HON322M")

In [3]:
df = 'https://www.boxofficemojo.com/year/2023/?ref_=bo_yl_table_2'

page = requests.get(df)

bs_obj = bs4.BeautifulSoup(page.content, 'html.parser')

In [4]:
movie = bs_obj.find_all("tr")

print(len(movie))

201

### WHY DO WE HAVE 201 when we only have 200 movies? Lets find out

In [5]:
print(movie[0]) # header of the table on the website

<tr><th class="a-text-right mojo-field-type-rank mojo-sort-column mojo-sortable-column a-nowrap"><a class="a-link-normal a-nowrap" href="?sort=rank&amp;ref_=bo_yld__resort#table" title="Rank"><span class="a-color-state">Rank</span><span class="a-letter-space"></span><span class="icon aok-relative"><i class="a-icon a-icon-collapse" role="presentation"></i></span></a></th><th class="a-text-left mojo-field-type-release mojo-cell-wide mojo-sortable-column a-nowrap"><span title="Release">Release</span>
</th><th class="a-text-left mojo-field-type-genre hidden mojo-sortable-column hidden a-nowrap"><span title="Genre">Genre</span>
</th><th class="a-text-right mojo-field-type-money hidden mojo-sortable-column hidden a-nowrap"><span title="Budget">Budget</span>
</th><th class="a-text-right mojo-field-type-duration hidden mojo-sortable-column hidden a-nowrap"><span title="Running Time">Running Time</span>
</th><th class="a-text-right mojo-field-type-money mojo-sortable-column mojo-estimatable a-nowrap"><a class="a-link-normal a-nowrap" href="?sort=gross&amp;ref_=bo_yld__resort#table" title="Gross">Gross<span class="a-letter-space"></span><span class="icon aok-relative"><i class="a-icon a-icon-expand table-sort-desc-placeholder" role="presentation"></i><i class="a-icon a-icon-collapse table-sort-asc-placeholder" role="presentation"></i></span></a></th><th class="a-text-right mojo-field-type-positive_integer mojo-sortable-column a-nowrap"><a class="a-link-normal a-nowrap" href="?sort=maxNumTheaters&amp;ref_=bo_yld__resort#table" title="Maximum Number of Theaters">Theaters<span class="a-letter-space"></span><span class="icon aok-relative"><i class="a-icon a-icon-expand table-sort-desc-placeholder" role="presentation"></i><i class="a-icon a-icon-collapse table-sort-asc-placeholder" role="presentation"></i></span></a></th><th class="a-text-right mojo-field-type-money mojo-sortable-column mojo-estimatable a-nowrap"><a class="a-link-normal a-nowrap" href="?sort=grossToDate&amp;ref_=bo_yld__resort#table" title="Total Gross">Total Gross<span class="a-letter-space"></span><span class="icon aok-relative"><i class="a-icon a-icon-expand table-sort-desc-placeholder" role="presentation"></i><i class="a-icon a-icon-collapse table-sort-asc-placeholder" role="presentation"></i></span></a></th><th class="a-text-left mojo-field-type-date mojo-sortable-column a-nowrap"><a class="a-link-normal a-nowrap" href="?sort=releaseDate&amp;ref_=bo_yld__resort#table" title="Release Date">Release Date<span class="a-letter-space"></span><span class="icon aok-relative"><i class="a-icon a-icon-expand table-sort-desc-placeholder" role="presentation"></i><i class="a-icon a-icon-collapse table-sort-asc-placeholder" role="presentation"></i></span></a></th><th class="a-text-left mojo-field-type-studio mojo-sortable-column a-nowrap"><span title="Distributor">Distributor</span>
</th><th class="a-text-right mojo-field-type-boolean hidden mojo-sortable-column hidden a-nowrap"><span title="Estimated">Estimated</span>
</th></tr>

In [6]:
print(movie[200])

print(movie[1])

<tr><td class="a-text-right mojo-header-column mojo-truncate mojo-field-type-rank mojo-sort-column">200</td><td class="a-text-left mojo-field-type-release mojo-cell-wide"><a class="a-link-normal" href="/release/rl132023041/?ref_=bo_yld_table_200">Inside</a></td><td class="a-text-left mojo-field-type-genre hidden">-</td><td class="a-text-right mojo-field-type-money hidden">-</td><td class="a-text-right mojo-field-type-duration hidden">-</td><td class="a-text-right mojo-field-type-money mojo-estimatable">$918,415</td><td class="a-text-right mojo-field-type-positive_integer">357</td><td class="a-text-right mojo-field-type-money mojo-estimatable">$918,415</td><td class="a-text-left mojo-field-type-date a-nowrap">Mar 17</td><td class="a-text-left mojo-field-type-studio"><a class="a-link-normal" href="https://pro.imdb.com/company/co0042399/boxoffice/?view=releases&amp;ref_=mojo_yld_table_200&amp;rf=mojo_yld_table_200" rel="noopener" target="_blank">Focus Features<svg class="mojo-new-window-svg" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
<path d="M24,15.57251l3,3V23.5A3.50424,3.50424,0,0,1,23.5,27H8.5A3.50424,3.50424,0,0,1,5,23.5V8.5A3.50424,3.50424,0,0,1,8.5,5h4.92755l3,3H8.5a.50641.50641,0,0,0-.5.5v15a.50641.50641,0,0,0,.5.5h15a.50641.50641,0,0,0,.5-.5ZM19.81952,8.56372,12.8844,17.75a.49989.49989,0,0,0,.04547.65479l.66534.66528a.49983.49983,0,0,0,.65479.04553l9.18628-6.93518,2.12579,2.12585a.5.5,0,0,0,.84741-.27526l1.48273-9.35108a.50006.50006,0,0,0-.57214-.57214L17.969,5.59058a.5.5,0,0,0-.27526.84741Z"></path>
</svg></a></td><td class="a-text-right mojo-field-type-boolean hidden">false</td></tr>
<tr><td class="a-text-right mojo-header-column mojo-truncate mojo-field-type-rank mojo-sort-column">1</td><td class="a-text-left mojo-field-type-release mojo-cell-wide"><a class="a-link-normal" href="/release/rl1077904129/?ref_=bo_yld_table_1">Barbie</a></td><td class="a-text-left mojo-field-type-genre hidden">-</td><td class="a-text-right mojo-field-type-money hidden">-</td><td class="a-text-right mojo-field-type-duration hidden">-</td><td class="a-text-right mojo-field-type-money mojo-estimatable">$636,225,983</td><td class="a-text-right mojo-field-type-positive_integer">4,337</td><td class="a-text-right mojo-field-type-money mojo-estimatable">$636,238,421</td><td class="a-text-left mojo-field-type-date a-nowrap">Jul 21</td><td class="a-text-left mojo-field-type-studio"><a class="a-link-normal" href="https://pro.imdb.com/company/co0002663/boxoffice/?view=releases&amp;ref_=mojo_yld_table_1&amp;rf=mojo_yld_table_1" rel="noopener" target="_blank">Warner Bros.<svg class="mojo-new-window-svg" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
<path d="M24,15.57251l3,3V23.5A3.50424,3.50424,0,0,1,23.5,27H8.5A3.50424,3.50424,0,0,1,5,23.5V8.5A3.50424,3.50424,0,0,1,8.5,5h4.92755l3,3H8.5a.50641.50641,0,0,0-.5.5v15a.50641.50641,0,0,0,.5.5h15a.50641.50641,0,0,0,.5-.5ZM19.81952,8.56372,12.8844,17.75a.49989.49989,0,0,0,.04547.65479l.66534.66528a.49983.49983,0,0,0,.65479.04553l9.18628-6.93518,2.12579,2.12585a.5.5,0,0,0,.84741-.27526l1.48273-9.35108a.50006.50006,0,0,0-.57214-.57214L17.969,5.59058a.5.5,0,0,0-.27526.84741Z"></path>
</svg></a></td><td class="a-text-right mojo-field-type-boolean hidden">false</td></tr>

In [8]:
title = movie[1].find("a", {"class": "a-link-normal"}).text
print(title)

Barbie

In [11]:
gross = movie[1].find("td", {"class": "a-text-right mojo-field-type-money mojo-estimatable"}).text
print(gross)

$636,225,983

In [13]:
movie_title = []
movie_gross = []

movie_title.append(title)
movie_gross.append(gross)

print(movie_title)
print(movie_gross)

['Barbie']
['$636,225,983']

In [14]:
iter_df = pd.DataFrame({"Title": movie_title, "Gross": movie_gross})
print(iter_df)

    Title         Gross
0  Barbie  $636,225,983

In [21]:
movie_title = []
movie_gross = []

for item in movie[1:201]:
    title = item.find("a", {"class": "a-link-normal"}).text
    gross = item.find("td", {"class": "a-text-right mojo-field-type-money mojo-estimatable"}).text

    movie_title.append(title)
    movie_gross.append(gross)

iter_df = pd.DataFrame({"Title": movie_title, "Gross": movie_gross})
print(iter_df)

                                   Title         Gross
0                                 Barbie  $636,225,983
1            The Super Mario Bros. Movie  $574,934,330
2    Spider-Man: Across the Spider-Verse  $381,311,319
3         Guardians of the Galaxy Vol. 3  $358,995,815
4                            Oppenheimer  $326,101,370
..                                   ...           ...
195                                Emily    $1,097,067
196                Knights of the Zodiac    $1,090,155
197                               Broker    $1,001,892
198                           Showing Up      $972,074
199                               Inside      $918,415

[200 rows x 2 columns]

In [17]:
iter_df = pd.DataFrame({"Title": movie_title, "Gross": movie_gross})
print(iter_df)

                                   Title         Gross
0                                 Barbie  $636,225,983
1                                 Barbie  $636,225,983
2            The Super Mario Bros. Movie  $574,934,330
3    Spider-Man: Across the Spider-Verse  $381,311,319
4         Guardians of the Galaxy Vol. 3  $358,995,815
..                                   ...           ...
196                                Emily    $1,097,067
197                Knights of the Zodiac    $1,090,155
198                               Broker    $1,001,892
199                           Showing Up      $972,074
200                               Inside      $918,415

[201 rows x 2 columns]